body{
    font-family: 'Quattrocento', serif;
}

#table{
    
}

.main-container{
margin-top: 2%;
    }
.box{
    /*margin-top: 30%;*/
    padding-top: 20px;
    /*padding-left: 40px;*/
    padding-bottom: 2px;
    width: 300px;
    height: auto;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 10px 10px 10px #red;
    border-radius: 15px;
}

.Login{
    padding-bottom: 0px;
    font-size: 1.6em;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #635D5D;
    padding-bottom: 15px;
}

.logn-icon i{
    padding-right: 35px;
font-size: 2em;
color: #635D5D;
padding-bottom: 25px;
background-position: 100px;
}

.tab-content {
 overflow: visible !important;
}
.label {
display: block!important;
margin-bottom: 0x;
font-weight: normal 1important;
}
.main-container label{
    text-align: left;
    margin-left: 40px;
}

.btn-login-indx{
margin-top: 5px;
/*margin-left: 21%;*/
color: #ff4141!important ; 
background-color: #000 !important;
border: 1px solid #A8A8A8 !important;
padding-top: 5px !important;
padding-bottom: 5px !important;
}
.btn-login-indx:hover{
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0,0,0,.2) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0,0,0,.2) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0,0,0,.2) !important;
}
#logo {
margin-top: 1.2%;
margin-left: 50%
width: 200px;
height: 40px;
background: url(/images/logo.png) no-repeat center;
display: block;

}
.inpt-logn{
    height: 30px !important;
    border-radius: 0 !important;
    width: 220px !important;
}
.month-leavs_err{
border: none !important;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e3000f !important;
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e3000f !important;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e3000f !important;
}
#frgt-pwd{
font-size: 0.9em;
color: #232931;
line-height: 0em;
width: 39%;
text-align: right;
display: block;
margin-left: 36%;
font-weight: 400;
padding-bottom: 17px;
text-decoration: none;
}
#frgt-pwd:hover{
    opacity: 0.8;
}
.login_err i{
color: green;
background-position: 21px;
font-size: 2.8em;
font-weight: 600;
margin-left: initial;
margin-top: -11px;
position: relative;
left: -29px;
}
#srch-butn{
padding-left: 21px !important;
padding-right: 21px !important;
padding-top: 19px !important;
padding-bottom: 19px !important;
margin-top: 2px;
}
#srch-butn i{
    font-size: 1.8em !important;
    position: absolute;
    margin-top: -11px;
    margin-left: -16px;
    color: #FFF;
    
}
select{
    background-color: #FFF !important;
    width: 250px;
    height: 40px;
    cursor: pointer; 
    padding-top: 2px !important;
}
.mps-inpt{
    margin-bottom: 7px !important;
}
#map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      
      .popover-title{
          cursor: pointer !important;
           background-color: #FFF !important;
      }
      .popover-content{
          background-color: #FFF !important; 
          cursor: pointer;
         
      }
      .popover-title:hover {
          background-color: #8B8B8B !important;
          color: white !important;
      }
      .popover-content:hover{
          background-color: #8B8B8B !important;
          color: white !important;
      }
      .nw-ip{
          width: 220px;
          display: block;
          background-color: #ffffff;
          height: 30px;
          border: 1px solid #cccccc !important;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
          -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
          -webkit-transition: border linear 0.2s, box-shadow linear 0.2s !important;
          -moz-transition: border linear 0.2s, box-shadow linear 0.2s !important;
          -o-transition: border linear 0.2s, box-shadow linear 0.2s !important;
          transition: border linear 0.2s, box-shadow linear 0.2s !important;
          border-radius: 3px !important;
          margin-bottom: 5px !important;
      }
      .navigtn{
          float: left;
          position: relative;
          top: -20px !important;
          height: 28px;
          padding-top: 2px;
      }
      .new-lst{
          width: 49%;
          top: 0;
          margin: auto;
          text-align: center;
          color: #FFF !important;
          background-color: rgba(51, 51, 51, 0.53);
          margin-left: 1px;
          cursor: pointer;
          border-right: 1px solid white;
      }
      .al-lst{
          width: 49%;
          top: 0;
          margin: auto;
          text-align: center;
          color: #FFF !important;
           /*background-color: rgba(146, 24, 24, 0.6);*/
           background-color: rgba(51, 51, 51, 0.53);
           cursor: pointer
      }
      table th{
          text-align: center !important;
      }
      .lft-flds{
          display: inline-block;
          margin-left: 20px;
      }
      .modal-body {
        margin-left: 12px !important;
      }
      .mp-frm{
          margin-bottom: 23px;
      }
      #popver{
          background-color: #000 !important;
          color: #FFF !important;
          border: none !important;
          /*padding-left: 16px;*/
           /*padding-right: 16px;*/
           font-size: 1.5em;
           /*padding-top: 6px;*/
           /*padding-bottom: 6px;*/
           
           padding-top: 22px;
padding-bottom: 21px;
padding-left: 25px;
padding-right: 25px;
      }
      .popover-title {
          font-size: 16px !important; 
          padding-top: 20px !important;
          /*padding-left: 18px !important;*/
          text-align: center !important;
          font-weight: 700 !important;
          line-height: 0 !important;
          border-bottom: none !important;
      }
      .popover-content{
          /*font-size: 16px !important;*/ 
          /*padding-top: 20px !important;*/
          padding: 0px !important;
          /*padding-left: 18px !important;*/
          /*text-align: center !important;*/
          /*font-weight: 700 !important;*/
          /*line-height: 0 !important;*/
      }
      
      .er{
          color: red;
          text-align: center;
          font-size: 1.12em;
          line-height: 0em;
          opacity: 0;
      }
      select{
          
      }
      .popver{
          cursor: pointer;
      }
      .char{
          height: 28px;
          top: 30px;
          position: absolute;
          margin-left: 20px;
          cursor: pointer;
      }
      .popover.bottom{
          margin-top: 18px !important;
      }
      .mapr{
          width: 100%;
          height: 100%;
      }
      .h-btns{
          background-color: #000 !important;
          border: none !important;
          padding: 10px !important;
      }
      .h-btns i{
          font-size: 1.5em;
      }
      .Abt-btns{
          font-size: 1.5em !important;
          background-color: #000 !important;
          border: none !important;
          padding-top: 7px !important;
          padding-bottom: 6px !important;
          padding-left: 18px !important;
          padding-right: 18px !important;
      }
      .mp-frm a {
          margin-left: 10px;
      }
      
      .cntr{
       margin: auto;
       width: 70%;
       height: auto;
       min-height: 100%;
       background-color: white;
      }
      .hdr{
       color: white;
text-align: center;
font-size: 2em;
background-color: rgba(0, 0, 0, 0.5) !important;
font-family: hyderabad4;
font-weight: 300;
line-height: 1.5;
      }

#contact-form {
width: 45%;
margin: auto;
padding-top: 1px;
 
}

#contact-form h3{
    font-family: 'Quattrocento', serif !important;
    font-size: 1.6em;
}

.cntr h4{
    font-family: 'Quattrocento', serif !important;
    font-size: 1.6em;
    padding-left: 20px;
}

.cntr p{
    font-family: 'Quattrocento', serif !important;
    font-size: 1.1em;
    padding-left: 60px;
    padding-right: 60px;
    line-height: 1.5em;
}
.ct-ipt {
background-color: #eee;
color: #888;
padding: 8px 0;
font: inherit;
width: 100%;
text-indent: 5px;
resize: none;
border: none !important;
margin-bottom: 8px;
      }
      

.ct-txara {
background-color: #eee;
color: #888;
padding: 8px 0;
font: inherit;
width: 100%;
text-indent: 5px;
resize: none;
height: 150px;
border: none !important;
}

#cnt-send{
 padding-top: 8px;
 padding-bottom: 8px;
 padding-left: 16px;
 padding-right: 16px;
 cursor: pointer;
 border: 1px solid #333;
 background-color: white;
 border-radius: 5px;
 color: #333;
 margin-top: 10px;
}